.realtors {
  grid-column: col-start 7 / full-end;

  padding: 3rem;
  background-color: $color-secondary;

  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  row-gap: 2rem;

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    column-gap: 2rem;
    row-gap: 5vh;
  }

  &__img {
    height: 7rem;
    display: block;
    border-radius: 50%;
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
  }
}
