%heading {
  font-weight: 400;
  font-family: $font-display;
}

.heading-1 {
  @extend %heading;

  line-height: 1;
  font-size: 4.5rem;

  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}

.heading-2 {
  @extend %heading;

  line-height: 1;
  font-size: 4rem;
  font-style: italic;

  &--light {
    color: $color-grey-light-1;
  }

  &--dark {
    color: $color-grey-dark-1;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: $color-primary;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: $color-grey-light-1;
  }

  &--dark {
    color: $color-grey-dark-1;
  }
}

.btn {
  @extend %heading; // Extend the heading styles
  border: none;
  cursor: pointer;
  border-radius: 0;
  font-size: 1.5rem;
  padding: 1.8rem 3rem;
  text-transform: uppercase;
  color: $color-grey-light-1;
  background-color: $color-primary;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $color-primary-dark;
    // background-color: darken($color-primary, 10%);
  }
}
